DISCORD_TOKEN=your_discord_bot_token_here
GUILD_IDS=your_first_guild_id_here,your_second_guild_id_here
TATER_FINDS_CHANNEL_ID=your_tater_finds_channel_id_here
ROLE_ID_BUCKTOWN=optional_role_id_here
ROLE_ID_OAKBROOK=optional_role_id_here
ROLE_ID_LINCOLNPARK=optional_role_id_here
ROLE_ID_ROCKFORD=optional_role_id_here
ROLE_ID_RIVERNORTH=optional_role_id_here
ROLE_ID_SOUTHLOOP=optional_role_id_here
ROLE_ID_LOGAN=optional_role_id_here
ROLE_ID_LAKEVIEW=optional_role_id_here
ROLE_ID_ELMWOOD=optional_role_id_here
ROLE_ID_ALMOSTWI=optional_role_id_here
ROLE_ID_NORTHBURBS=optional_role_id_here
ROLE_ID_OUTWEST=optional_role_id_here
ROLE_ID_NWCITY=optional_role_id_here
